{% extends "nippou_app/base.html" %}

{% block headerscript %}
{% endblock %}

{% block nav %}
    {% include "nippou_app/includes/nav_editor.html" %}
{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-10">
            <div class="show-title">{{ nippou.title }}</div>
        </div>
        {% if nippou and is_own %}
            <div class="col-md-2" style="text-align: right;">
                <a class="btn btn-primary" href="{% url 'nippou_app.views.edit' nippou.id %}" >Edit</a>
            </div>
        {% endif %}
    </div>
</div>
<br/>
<div>
    <div class="form-control readonly-form">
        <div>{{ nippou.body }}</div>
    </div>
</div>
{% endblock %}

{% block bodyscript %}{% endblock %}
