{% extends "nippou_app/base.html" %}

{% block headerscript %}{% endblock %}

{% block nav %}
    {% include "nippou_app/includes/nav_index.html" %}
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'nippou_app.views.viewer' %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
    <br/><br/>

    {% if nippous %}
        {% for n in nippous %}
            <h2>
                <a href="/nippou/document/{{ n.id }}/">
                    {{ n.title }}
                </a>
            </h2>
        {% endfor %}
    {% else %}
        日報はまだ一件もありません。さっそく作成しましょう！
    {% endif %}

{% endblock %}

{% block bodyscript %}{% endblock %}